
/* Font */
:root{
  --fontThin: HelveticaNeue-Thin;
  --fontLight: HelveticaNeue-Light;
  --fontMedium: HelveticaNeue-Medium;
  --fontBold: HelveticaNeue-Bold;
  --fontExtraBold: HelveticaNeue-ExtraBold;
}

.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

h1 {
  margin-top: 0px;
  margin-bottom: 24px;
  font-family: Helveticaneue, sans-serif;
  font-size: 60px;
  line-height: 71px;
  font-weight: 800;
  letter-spacing: 0px;
}

h2 {
  margin-top: 0px;
  margin-bottom: 24px;
  font-family: var(--fontBold), sans-serif;
  color: #0a2630;
  font-size: 46px;
  line-height: 54px;
}

h3 {
  margin-top: 0px;
  margin-bottom: 16px;
  font-family: var(--fontBold), sans-serif;
  color: #0a2630;
  font-size: 28px;
  line-height: 39px;
  letter-spacing: 0.33px;
}

p {
  margin-bottom: 0px;
  font-family: var(--fontLight), sans-serif;
  color: #0a2630;
  font-size: 22px;
  line-height: 33px;
  letter-spacing: 0.26px;
}

p strong {
  font-family: var(--fontBold), sans-serif;
}

.brand {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  max-width: 108px;
  margin-left: 24px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.navbar {
  position: fixed;
  z-index: 20;
  width: 100%;
  height: 60px;
  background-color: #fff;
}

.container {
  z-index: 70;
  height: 100%;
  max-width: 1440px;
}

.nav-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  opacity: 0;
  min-width: 362px;
  min-height: 60px;
}

.nav-menu.case-study-menu {
  opacity: 1;
}

.nav-link {
  -webkit-transition: color 200ms ease;
  transition: color 200ms ease;
  font-family: var(--fontMedium), sans-serif;
  color: #0a2630;
  font-size: 16px;
  letter-spacing: -0.32px;
}

.nav-link:hover {
  color: rgba(10, 38, 48, 0.5);
}

.nav-link.w--current {
  color: #0a2630;
}

.nav-link.w--current:hover {
  color: rgba(10, 38, 48, 0.5);
}

.nav-link.white-link {
  color: #fff;
}
.row {
  z-index: 0;
  height: 33.33%;
}
.footer-section {
  width: 100%;
  height: 80px;
  background-color: #0a2630;
}

.nav-link-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer-text {
  font-family: var(--fontLight), sans-serif;
  color: #fff;
  font-size: 16px;
  line-height: 27px;
  letter-spacing: -0.32px;
}

.footer-column-1 {
  padding-left: 44px;
}

.footer-column-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 44px;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.link-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: 40px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}
html, body {
  overflow-x: hidden;
}
.mobile-case-study-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  max-width: 1026px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.centered-header {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Helveticaneue, sans-serif;
  color: #0a2630;
  font-size: 46px;
  line-height: 54px;
  text-align: center;
  letter-spacing: 0.31px;
}

.centered-header.multiplatform {
  margin-bottom: 24px;
}

.tech-stack-subheader {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
}

.web-case-study-hero-section {
  height: 865px;
  background-image: url('../images/gradient.svg');
  background-position: 0px 0px;
  background-size: cover;
  background-repeat: no-repeat;
}
.case-study-web-container {
  height: 100%;
  max-width: 1026px;
  margin-right: auto;
  margin-left: auto;
}

.case-study-web-container.section-1-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.case-study-web-container.carousel-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.case-study-web-hero-row {
  height: 100%;
}

.case-study-web-hero-left-column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  padding-right: 0px;
  padding-left: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.case-study-web-hero-right-column {
  height: 100%;
  padding-left: 0px;
}

.web-hero-image {
  position: absolute;
  left: 0%;
  top: auto;
  right: auto;
  bottom: -2%;
  max-width: 200%;
}

.web-section-1 {
  height: 769px;
}

.case-study-h2 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Helveticaneue, sans-serif;
  color: #0a2630;
  font-size: 46px;
  line-height: 54px;
}

.case-study-h2.section-1-header {
  max-width: 50%;
  margin-bottom: 80px;
}

.case-study-h2.section-2-header {
  margin-bottom: 24px;
}

.case-study-h2.carousel-title {
  margin-bottom: 24px;
  color: #fff;
  text-align: center;
}

.section-1-column.upperroom-column-3 {
  padding-right: 0px;
}

.section-1-icon {
  height: 40px;
  margin-bottom: 16px;
}

.case-study-h3 {
  margin-top: 0px;
  margin-bottom: 16px;
  font-family: Helveticaneue, sans-serif;
  color: #0a2630;
  font-size: 28px;
  line-height: 39px;
  letter-spacing: 0.33px;
}

.case-study-h3.white-text {
  display: inline-block;
  color: #fff;
}

.case-study-paragraph-text {
  margin-bottom: 0px;
  font-family: Helveticaneue, sans-serif;
  color: #0a2630;
  font-size: 22px;
  line-height: 33px;
  letter-spacing: 0.26px;
}

.case-study-paragraph-text.carousel-text {
  max-width: 850px;
  color: #fff;
  text-align: center;
}

.case-study-paragraph-text.white-text {
  color: #fff;
}

.case-study-paragraph-text.white-text.hero-text {
  max-width: 562px;
}

.case-study-paragraph-text.dreamsave-text .case-study-h3 {
  line-height: 80px;
}

.web-section-image {
  width: 100%;
  height: 364px;
  background-image: url('../images/Image.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.web-section-2 {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 1180px;
  padding-top: 160px;
}

.section-2-grid {
  position: relative;
  margin-top: 80px;
  grid-auto-flow: row;
  grid-row-gap: 40px;
  grid-template-areas: "Area ." "Area ." ". Area-2";
  -ms-grid-columns: 2fr 1fr 1fr;
  grid-template-columns: 2fr 1fr 1fr;
  -ms-grid-rows: auto 40px auto 40px auto;
  grid-template-rows: auto auto auto;
}



.case-study-bullet-point {
  width: 16px;
  height: 16px;
  margin-bottom: 16px;
  background-color: #079be8;
}

.grid-image-area {
  position: relative;
}

.section-2-image {
  position: absolute;
  left: auto;
  top: 15%;
  right: 18%;
  bottom: auto;
  max-width: 577px;
}


.web-background-gradient {
  position: absolute;
  left: 0%;
  top: -25%;
  right: 0%;
  bottom: auto;
  z-index: -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.web-background-gradient.web-gradient-2 {
  top: 5%;
  display: block;
}

.carousel-section {
  position: relative;
  z-index: 1;
  overflow: hidden;
  height: 1700px;
  margin-top: -10%;
}

.web-carousel {
  width: 100%;
  height: 100%;
  max-height: 520px;
  max-width: 850px;
  margin-top: 80px;
  box-shadow: 0 12px 67px 0 rgba(0, 0, 0, 0.3);
}

.slide-2 {
  max-width: 850px;
  margin-right: 88px;
}

.slide-3 {
  max-width: 850px;
}

.slide-nav {
  left: -8px;
  top: auto;
  right: auto;
  bottom: -72px;
  z-index: 10;
}

.right-arrow-carousel {
  width: 58px;
  background-image: url('../../../images/white-arrow.svg');
  background-position: 50% 50%;
  background-size: auto;
  background-repeat: no-repeat;
  color: transparent;
}

.left-arrow-carousel {
  width: 58px;
  background-image: url('../../../images/white-arrow.svg');
  background-position: 50% 50%;
  background-size: auto;
  background-repeat: no-repeat;
  color: transparent;
  transform: rotate(180deg);
}

.left-arrow {
  left: auto;
  top: auto;
  right: 60px;
  bottom: -3%;
  z-index: 10;
  width: 60px;
  height: 60px;
  margin-bottom: -60px;
}

.right-arrow {
  left: auto;
  top: auto;
  right: 0%;
  bottom: -3%;
  z-index: 10;
  width: 60px;
  height: 60px;
  margin-bottom: -60px;
}

.close-link-block {
  position: absolute;
  left: auto;
  top: 120px;
  right: 80px;
  bottom: auto;
}

.feature-2-image.les-mills-feature-2-image {
  position: relative;
  left: -68%;
  max-width: 150%;
}

.feature-2-image.drum-feature-2-image {
  max-width: 50%;
}

.feature-3-image-1 {
  position: absolute;
  left: 0px;
  z-index: 0;
  max-width: 280px;
}

.feature-3-image-1.les-mills-feature-image-3 {
  position: static;
  max-width: 100%;
}

.feature-3-image-1.drum-feature-3-image-1 {
  position: static;
  width: 100%;
  max-width: none;
}

.feature-3-image-1.paga {
  max-width: 100%;
}

.feature-3-image-1.dreamsave {
  position: relative;
  width: 60%;
  margin: 0 auto;
}

.section-image-1-1 {
  position: absolute;
  left: auto;
  top: auto;
  right: auto;
  bottom: 0%;
  z-index: 5;
  height: 60%;
}

.app-store-hover {
  position: absolute;
  left: auto;
  top: 0%;
  right: auto;
  bottom: auto;
  max-width: 234px;
}

.app-store-hover.left-hover {
  left: 0px;
  opacity: 0;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
}

.app-store-hover.left-hover:hover {
  opacity: 1;
}

.app-store-hover.right-hover {
  right: 0px;
  opacity: 0;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
}

.app-store-hover.right-hover:hover {
  opacity: 1;
}

.web-gradient-2 {
  top: 0%;
  z-index: -1;
}

.recaptcha {
  margin-bottom: 24px;
}

.services-video-section {
  height: 100vh;
  background-color: #000;
}

.video-background-image-block.video-cover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.42)),to(rgba(0, 0, 0, 0.42))), url(../images/service-page/services-hero.png);
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.42), rgba(0, 0, 0, 0.42)), url(../images/service-page/services-hero.webp), url(../images/service-page/services-hero.png);
  background-position: 0 0, 50% 100%;
  background-size: auto, cover;
}

.services-section {
  height: auto;
  padding-top: 100px;
  padding-bottom: 100px;
}

.services-container {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  max-width: 1026px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.indicator-line-bottom {
  position: absolute;
  bottom: 0px;
  width: 2px;
  height: 60px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#0a2630), to(#0a2630));
  background-image: linear-gradient(180deg, #0a2630, #0a2630);
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  color: #0a2630;
}

.indicator-line-bottom.services {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fff));
  background-image: linear-gradient(180deg, #fff, #fff);
}

.grid {
  grid-column-gap: 30px;
  grid-row-gap: 40px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto auto auto;
  grid-template-rows: auto auto auto;
}

.service-top-line {
  width: 100%;
  height: 1px;
  background-color: #bfbfbf;
}

.services-icon {
  width: 40px;
  height: 40px;
  margin-top: 24px;
}

.services-icon.cloud {
  background-image: url('../images/cloud.png');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.service-title {
  margin-top: 8px;
  margin-bottom: 8px;
  padding-right: 24px;
}

.services-text {
  padding-right: 24px;
  font-size: 16px;
  line-height: 27px;
  letter-spacing: -0.32px;
}

.agility-logo-white {
  position: absolute;
}

.agility-logo-white.about {
  opacity: 0;
}

.body-2 {
  overflow: hidden;
}

.services-paragraph {
  margin-top: 60px;
  margin-bottom: 60px;
}

.link {
  color: #3570c6;
  font-family: var(--fontMedium);
  text-decoration: none;
}

.video-cover-div {
  height: 100%;
  background-color: #fff;
}

.video-cover-div.services {
  background-color: #000;
}

.inverted-play-button {
  position: absolute;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: auto;
  opacity: 0;
}

.x {
  position: relative;
  z-index: 1;
}

.x-inverted {
  position: absolute;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: auto;
  z-index: 0;
  opacity: 0;
}

.who-we-are-section {
  position: relative;
  height: 460px;
  background-color: #e1e6e8;
}

.about-container {
  position: relative;
  height: 100%;
  max-width: 1026px;
  margin-right: auto;
  margin-left: auto;
}

.about-container.our-container {
  padding-top: 120px;
  padding-bottom: 200px;
}

.who-we-are-row {
  height: 100%;
}

.who-we-are-left-column {
  height: 100%;
  padding-right: 0px;
  padding-left: 0px;
}

.who-we-are-right-column {
  height: 100%;
  padding-right: 0px;
  padding-left: 0px;
}

.who-we-are-header {
  margin-top: 100px;
}

.header-underline {
  width: 60px;
  height: 4px;
  background-color: #0a2630;
}

.who-we-are-text {
  margin-top: 100px;
}

.our-section {
  height: auto;
}

.our-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.our-row.our-team {
  margin-top: 60px;
}

.our-column-right {
  padding-right: 0px;
}

.our-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 82px;
  padding-right: 0px;
  padding-left: 0px;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.h5 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: var(--fontLight), sans-serif;
  color: #849297;
  font-size: 22px;
  line-height: 33px;
  letter-spacing: 0.26px;
}

.h5.case-studies-link-text {
  margin-right: 12px;
  color: #3570c6;
  text-decoration: none;
}
.carousel-section .h5.case-studies-link-text {
  color: #fff;
}

/* .h5.case-studies-link-text.bose {
  color: #fff;
}

.h5.case-studies-link-text.cheapism {
  color: #fff;
}

.h5.case-studies-link-text.worldroamer {
  color: #fff;
}

.h5.case-studies-link-text.kenzie-online {
  width: auto;
  color: #fff;
}*/

.h5.case-studies-link-text.drum {
  color: #53c4b5;
}

.h5.case-studies-link-text.paga {
  color: #f2931e;
}

.h5.case-studies-link-text.dreamsave {
  color: #68C7C1;
}

.header-number {
  margin-bottom: 0px;
}

.case-studies-link-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
}

.case-studies-link-block.link-to-client {
  width: 220px;
}

.case-studies-link-block.link-to-client.worldroamer {
  width: 220px;
}

.case-studies-link-block.link-to-client.worldroamer.second-worldroamer-link {
  width: 320px;
}

.case-studies-link-block.link-to-client.cheapism {
  width: 160px;
}

.case-studies-link-block.link-to-client.drum {
  width: 140px;
}

.case-studies-link-block.link-to-client.kenzie-online-second-link {
  width: 185px;
}

.case-studies-link-block.link-to-client.kenzie-online-first-link {
  width: 215px;
}

.case-studies-link-block.link-to-client.upperroom-link {
  width: auto;
}

.case-studies-link-block.link-to-client.paga {
  width: auto;
}

.case-studies-link-block.link-to-client.bose {
  width: auto;
}

.case-studies-link-block.link-to-client.dreamsave {
  width: auto;
}

.case-studies-link-block.services-case-study-link {
  width: 204px;
}

.our-image {
  z-index: 1;
  max-width: 674px;
  margin-top: 80px;
}

.our-image.clients {
  right: -56px;
  max-width: 729px;
  margin-top: 60px;
}

.background-text {
  position: absolute;
  left: auto;
  top: auto;
  right: -224px;
  bottom: 0%;
  z-index: 5;
  margin-bottom: 0px;
  color: #f3f6f7;
  font-size: 162px;
  line-height: 200px;
  font-family: var(--fontBold);
  letter-spacing: -2px;
}

.our-photo-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.our-photo-block.team {
  display: block;
}

.press-section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 144px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.about-grid {
  justify-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-column-gap: 80px;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.press-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 10px;
}

.cnbc {
  max-width: 30%;
}

.cnn {
  max-width: 60%;
}

.tech-in-asia {
  max-width: 80%;
}

.mobile-case-study-hero-image.les-mills-hero {
  position: relative;
  right: -30%;
  bottom: -30%;
  max-width: 160%;
}

.mobile-case-study-hero-image.drum-hero {
  position: absolute;
  right: -30%;
  bottom: -5%;
  z-index: 10;
  max-width: 120%;
}

.mobile-case-study-hero-image.dreamsave-hero-image {
  position: relative;
  width: 109%;
}

.image-section-1-bg {
  width: 100%;
}

.apple-store-link {
  position: relative;
}

.google-play-link {
  position: relative;
}

.google-play-link.bose-link {
  margin-left: 24px;
}

.web-case-study-h1 {
  color: #fff;
}

.web-case-study-h1.bose-text {
  color: #000;
}

.ux-screens {
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.ux-screens.ux-collection-wrapper.dreamsave-ux-screens {
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.dreamsave-result-layout {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 80px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.cisco {
  width: 96px;
  max-width: 100%;
}

.cheapism-web-section-image {
  width: 100%;
}

.slide-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.client-link-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 850px;
  margin-top: 120px;
}

.client-link-block.second-client-link {
  margin-top: 16px;
}

.client-link-block.drum-link-block {
  margin-top: 80px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.client-link-block.paga-link-block {
  margin-top: 40px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.client-link-block.app-store-link-block {
  margin-top: 24px;
}

.success-message {
  margin-top: 64px;
  background-color: #fff;
}

.success-text {
  font-family: Helveticaneue, sans-serif;
  font-weight: 500;
}

.error-message {
  background-color: #f16275;
}

.error-text {
  font-family: Helveticaneue, sans-serif;
  color: #fff;
  font-weight: 500;
}

.tech-stack-logo-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block {
  width: 100%;
  margin-top: 80px;
}

.tech-stack-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.tech-stack-grid {
  width: 100%;
  margin-top: 80px;
  grid-auto-flow: row;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.tech-stack-grid.les-mills-tech-stack-grid {
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.tech-stack-grid.upperroom-tech-stack-grid {
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.tech-stack-grid.paga-tech-stack-grid {
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.tech-stack-grid.world-roamer-tech-stack-grid {
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.tech-stack-grid.kenzie-online-tech-stack-grid {
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.tech-stack-grid.drum-tech-stack-grid {
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto auto auto auto;
  grid-template-rows: auto auto auto auto;
}

.tech-stack-grid.dreamsave-tech-stack-grid {
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.tech-stack-logo {
  max-width: 50%;
}

.tech-stack-logo.css3 {
  max-width: 38%;
}

.tech-stack-logo.css3.drum-tech-stack-logo {
  max-width: 23%;
}

.tech-stack-logo.react {
  max-width: 55%;
}

.tech-stack-logo.react.drum-tech-stack-logo {
  max-width: 35%;
}

.tech-stack-logo.ruby-on-rails {
  max-width: 70%;
}

.tech-stack-logo.sinatra {
  max-width: 55%;
}

.tech-stack-logo.nodejs {
  max-width: 60%;
}

.tech-stack-logo.express {
  max-width: 90%;
}

.tech-stack-logo.dynamodb {
  max-width: 40%;
}

.tech-stack-logo.aws {
  max-width: 55%;
}

.tech-stack-logo.aws.upperroom-aws {
  max-width: 40%;
}

.tech-stack-logo.ruby {
  max-width: 40%;
}

.tech-stack-logo.python {
  max-width: 45%;
}

.tech-stack-logo.python.upperroom-python {
  max-width: 30%;
}

.tech-stack-logo.docker {
  max-width: 40%;
}

.tech-stack-logo.docker.drum-tech-stack-logo {
  max-width: 35%;
}

.tech-stack-logo.angularjs {
  max-width: 30%;
}

.tech-stack-logo.postgresql {
  max-width: 35%;
}

.tech-stack-logo.numpy {
  max-width: 60%;
}

.tech-stack-logo.django.django-cheapism {
  max-width: 65%;
}

.tech-stack-logo.gulp {
  max-width: 23%;
}

.tech-stack-logo.mailchimp {
  max-width: 40%;
}

.tech-stack-logo.drum-tech-stack-logo {
  max-width: 30%;
}

.tech-stack-logo.drum-tech-stack-logo.storybook {
  max-width: 25%;
}

.tech-stack-logo.entity.drum-tech-stack-logo {
  max-width: 35%;
}

.tech-stack-logo.swift {
  width: 100%;
  max-width: 40%;
}

.tech-stack-logo.java {
  max-width: 30%;
}

.tech-stack-logo.firebase {
  width: 100%;
  max-width: 40%;
}

.tech-stack-logo.cocoapods {
  max-width: 40%;
}

.tech-stack-logo.realm {
  max-width: 40%;
}

.tech-stack-logo.reactivex {
  max-width: 40%;
}

.tech-stack-logo.mparticle {
  max-width: 40%;
}

.tech-stack-logo.glide {
  max-width: 60%;
}

.tech-stack-logo.spring-boot {
  max-width: 40%;
}

.tech-stack-logo.kubernetes {
  max-width: 40%;
}

.tech-stack-logo.sonarqube {
  max-width: 70%;
}

.our-clients-text {
  margin-top: 40px;
}

.our-team-text {
  margin-top: 40px;
}

.bose-app-links {
  width: 100%;
  max-width: 850px;
  margin-top: 24px;
}

.overlay {
  position: relative;
  z-index: 5;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
}

#w-node-534512e44d62-ffa1d91c,
#w-node-534512e44d57-ffa1d91c {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 3;
  grid-column-start: span 3;
  -ms-grid-column-span: 3;
  grid-column-end: span 3;
}

#w-node-2ddebecc9154-13a1d91d {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 3;
  grid-column-start: span 3;
  -ms-grid-column-span: 3;
  grid-column-end: span 3;
}

#w-node-2267f18583a0-1da1d91e {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 3;
  grid-column-start: span 3;
  -ms-grid-column-span: 3;
  grid-column-end: span 3;
}

#w-node-a2be21c7188d-3da1d91f {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: Area;
}

.section-2-grid>#w-node-a2be21c7188d-3da1d91f {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 1;
}

#w-node-a2be21c7188d-52a1d923 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: Area;
}

.section-2-grid>#w-node-a2be21c7188d-52a1d923 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 1;
}

#w-node-a2be21c7188d-0da1d924 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: Area;
}

.section-2-grid>#w-node-a2be21c7188d-0da1d924 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 1;
}

#w-node-a2be21c7188d-efa1d926 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: Area;
}

.section-2-grid>#w-node-a2be21c7188d-efa1d926 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 1;
}

#w-node-a2be21c7188d-51a1d928 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: Area;
}

.section-2-grid>#w-node-a2be21c7188d-51a1d928 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 1;
}

